doctype html
html(lang='en')
  
  include head

  body
    include navbar
    
    #fullpage
      
      .section.section0
        .section0-wrap
          h1 Jordan Pappas
          h2 Web & Mobile Development
          br
          button(type='button', class='btn btn-warning') Hire me
        
      .section.section1
        .row
          .col-xs-12.col-md-4.col-lg-4.glyph-box
            .row
              span.glyphicon.glyphicon-wrench.glyph
              h1 construction
              h4 Fullstack Javascript
              p Let me build your web app!
            .row.blip
                span.list
                  i Node.js npm Koa ExpressJS ReactJS Meteor Cordova Socket.io AngularJS Backbone.js
                  
            
          .col-xs-12.col-md-4.col-lg-4.glyph-box
            .row
              span.glyphicon.glyphicon-th-list.glyph
              h1 management
              h4 CMS / SQL / NoSQL
              
          .col-xs-12.col-md-4.col-lg-4.glyph-box
            .row
              span.glyphicon.glyphicon-eye-open.glyph
              h1 design
              h4 HTML5 / CSS3
              
        
    include js
