doctype html
html(lang='en')
  
  include head

  body
    include navbar
    
    #fullpage
      
      .section.section1
        .section1-wrap
          h1 Jordan Pappas
          h2 Web & Mobile Development
          br
          button(type='button', class='btn btn-warning') Hire me
        
      .section.section2
        .row
          .col-xs-12.col-md-4.col-lg-4.glyph-box
            .row
              span.glyphicon.glyphicon-wrench.glyph
              h1 construction
              h4 Fullstack Javascript
            .row.blip
              p This is some text about this blip. i can add alot of text. This is some text about this blip. i can add alot of text. This is some text about this blip. i can add alot of text.
            
          .col-xs-12.col-md-4.col-lg-4.glyph-box
            .row
              span.glyphicon.glyphicon-th-list.glyph
              h1 management
              h4 CMS / SQL / NoSQL
            .row.blip
              p This is some text about this blip. i can add alot of text. This is some text about this blip. i can add alot of text. This is some text about this blip. i can add alot of text.
              
          .col-xs-12.col-md-4.col-lg-4.glyph-box
            .row
              span.glyphicon.glyphicon-eye-open.glyph
              h1 design
              h4 HTML5 / CSS3
            .row.blip
              p This is some text about this blip. i can add alot of text. This is some text about this blip. i can add alot of text. This is some text about this blip. i can add alot of text.
              
            
      .section
        .row
          .col-lg-4.col
            h1 4 col.
          .col-lg-4.col
            h1 4 col.
          .col-lg-4.col
            h1 4 col.
        .row
          .col-lg-6
            h1 6 col.
          .col-lg-6
            h1 6 col.
      
        
    include js
    include footer
