@import nav

// Section 1

.section1-wrap
  display inline-block
  padding 50px
  background-color rgba(0,0,0,0.3)
  border-radius 10px
  color white

.section1
  text-align center
  background-image url(../images/section1.jpg)
  background-size cover
  color rgba(255,255,255,0.8)

// Section 2

.section2
  background-color rgb(92, 184, 92)
  text-align center

.glyph
  font-size 3.6em
  border 2px dotted white
  border-radius 100px
  color white
  padding 15px

h4
  color white
  padding 3px

.glyph-box
  margin-top 45px
  margin-bottom 15px

.blip
  color white
  max-width 200px
  margin 0 auto
  border 1px dotted white
  border-radius 10px
  padding 20px
